apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: magic-ingress
  namespace: magic-app
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
spec:
  ingressClassName: alb
  rules:
  - host: magic.abhichaudhary.cloud
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: magic-service
            port:
              number: 80
